@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body{
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #0061A1;
  font-weight: 400;
  line-height: 1.3rem;
}

.svg:hover {
  filter:  var(--svg-color); 
}

.hover{
  --svg-color: invert(0.5) brightness(0.5) sepia(1) hue-rotate(230deg) saturate(6);
}

.bg1{
  display: block;
  height: 50px;
  width: 100%;
}
  #back-circle1
  {
  position: fixed;
  background-color:rgba(0, 172, 220, 0.1);
  height:800px;
  width:800px;
  border-radius:50%;
  top: -250px;
  left: -250px;
  z-index: 0;
  }

  #back-circle2
  {
  position: fixed;
  border-radius:50%;
  top: 450px;
  left: 250px;
  z-index: 0;
  }

  #details_object
  {
  position: fixed;
  height:200px;
  width:400px;
  top: -150px;
  left: -150px;
  z-index: -10;
  }

  #details_object img
  {
    width:150px;
  }

  #about {
    position: relative;
    z-index: 2;
    background-color: white;
  }

  #about-photo{
    width: 400px;
    text-align: center;
  }

  .about-img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }

  h1 {
    font-family: "Lalezar", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
  }

 h2, h3, h4{
    font-family: "Lalezar", sans-serif;
  }

  #about h2{
    font-size: 5rem;
    line-height: 5rem;
    align-items: end;
    margin-bottom: 0;
  }

  #about h3{
    font-size: 2.5rem;
  }
  
  #about h4{
    font-size: 2rem;
  }
  
  #about-description{
    color: #fff;
    background-color: #0061A1;
  }

  #about-description p{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
  }
   
  #about-description-more {
    display: block;
    min-height: 100px;
    padding: 10px 10px;
  }

  #about-description-more p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 10px 30px;
    color: #0061A1;
  }
  
  #about-description-more blockquote{
    text-align: justify;
    font-style: italic;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 10px 40px;
    color: #00ADDC;
  }

  #about-description-more ul{
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 0px 50px;
    color: #0061A1;
  }

  #about-description-more h2, #about-description-more h3, #about-description-more h4, #about-description-more h5, #comments h2{
    text-align: left;
    padding: 20px 30px;
  }

  #about-description-more img{
    position: relative;
    margin: 10px 10px;
    max-height: 700px;
  }

  #details-description{
    height: 380px;
  }

  #details-description ul{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
  }

  #details-description li {
    list-style-image: url("../img/dice_white_mini.svg");
    padding-inline-start: 2ch;
    padding: 10px 10px;
  }

   #details-description ul li span{
    font-weight: 200;
  }

  .about-header{
    opacity: 0.1;
  }

  #comments
  {

  }

  .dice-big-inv{
    width: 50px;
    height: 50px; 
    margin: 15px 15px;
  }

  #review{
    padding: 0px 0px;
  }

  #main-photo{
    position: relative;
    padding: 0px 0px;
    background-color: #0061A1;
  }

  #main-photo img{
    height: 380px;
    overflow: hidden;
  }

  #details-description{
    position: relative;
    background-color: #0061A1;
    color: #fff;
  }
/* input */

  input[type="search"]{
    border: 0;
    color: #0061A1;
    font-size: 0.95rem;
  }

  input[type="search"]::placeholder {
    color: #0061A1;
    opacity: 0.5;
  }

  input[type="search"]:focus {
    background: transparent;
  }

  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../img/search.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 0 0;
    outline: none;
    color: #0061A1;
    font-weight: 500;
    border: 0;
  }

  .input-main{
    max-width: 450px;
    min-width: 200px;
    padding: 10px 10px;
  }

 label{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 10px 0px;
  }

  .input-main-texarea{
    height: 200px;
  }

  #contact{
    position: relative;
  }

  #contact form{
    padding: 10px 0px;
  }

  /* button */

  .button-main {
    display: inline-block;
    background-color: #0061A1;
    padding: 10px;
    color: white;
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    line-height: 1.1rem;
  }

  .button-main:hover {
    background-color: #004d80;
    color: white;
  }

  .button-main.inv {
    background-color: #00ADDC;
  }

  .button-main.inv.big {
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding: 15px;
  }

  .button-main:hover {
    background-color: #004d80;
  }

  /* a */

  a {
    color: #0061A1;
    text-decoration: none;
  }

  a:hover {
    color: #8B278B;
  }

  /* cards */

  .card{
      background-color: #F6F6F6;
      border-top: 2px solid #0061A1;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid #0061A1;
      border-radius: 0px;
      margin: 10px;
      min-width: 320px;
      max-width: 460px;
  }

  .card-body{
    padding: 2rem;
  }

  .card-head{
    font-family: "Lalezar", sans-serif;
    height: 40px;
  }

  .card-date{
    width: 50%;
    background-color: #0061A1;
    color: white;
    font-size: 0.95rem;
    padding-top: 10px;
    padding-left: 20px;
  }

  .card-kind{
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 10px;
  }

  .card-img{
    width: 90%;
  }

  .card-title{
   font-family: "Lalezar", sans-serif;
   font-size: 1.6rem;
  }

  .card-text{
   font-size: 0.95rem;
   font-weight: 400;
   text-align: justify;
   color: #3D3D3D;
   padding-top: 10px;
  }

  /* tags */

  .tags-main{
    position: relative;
    margin: 10px 40px;
    z-index: 2;
  }

  .tag{
    background-color: #00ADDC;
    padding: 10px 10px;
    margin: 10px 10px;
  }

  .tag a{
    font-size: 1.2rem;
    color: white;
  }

  .tag a:hover{
    color: #004d80;
  }

  .header-section{
    z-index: 3;
    top:0;
    position: relative;
  }

  #last-added{
   position: relative;
    z-index: 2;
  }

  .header-main
  {
    padding: 10px 10px;
  }

  .header-main.header-blue h2::before
  {
    position: relative;
    content: url("../img/dice_blue.svg");
    display: inline-block;
    top: 10px;
    margin-right: 10px;
  }

  .header-main.header-purple h2::before
  {
    position: relative;
    content: url("../img/dice_purple.svg");
    display: inline-block;
    top: 10px;
    margin-right: 10px;
  }

  .header-main.header-background
  {
    position: relative;
    background-color: #0061A1;
    color: #fff;
    height: 100px;
    margin-bottom: 20px;
  }

  .header-main.header-background h2::before
  {
    position: relative;
    content: url("../img/dice_white.svg");
    display: inline-block;
    top: 10px;
    margin-right: 10px;
  }

  #main{
    position: relative;
    z-index: 1;
  }

  .col-fluid{
    padding: 0;
  }

  .img{
    position: relative;
    z-index: 2;
  }
  
  .logo{
    width: 120px;
    height: 120px;
    margin: 12px;
  }

  #sentence{
    padding:12px;
    margin: 12px;
    text-align: justify;
  }

  #sentence p{
    font-size: 0.95em;
    width: 210px;
  }

  #sentence span{
    font-weight: 700;
  }

  #social{
    height: 60px;
    text-align: right;
  }

  #social div{
    display: inline-block;
    margin: 10px;
  }

  .icon.icon-soc{
    width:35px;
    height:35px;
  }

/* menu */ 

.navbar
{
  margin-left: 40px;
}

.navbar-nav
{
  font-size: 1.1rem;
  font-weight: 500;
  height: 40px;
}

.navbar-span
{  
width: 100%;
}

.navbar-nav li
{
  margin-top: 5px;
  min-width: 90px;
  padding-right: 15px;
}

#menu-top .navbar-nav li:first-child 
{
  min-width: 45px;
  margin-top: 3px;
}

.navbar-light .navbar-toggler{
  border: 0;
  color: #0061A1;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.navbar-light .navbar-toggler-icon{
  margin-left:15px;
  width: 35px;
  background-image: url("../img/icon_menu.svg");
}

.navbar-div
{
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-item .nav-link 
{
  color: #0061A1;
 }

.navbar-nav .nav-item .nav-link:hover 
{
  color: #8B278B;
}

.nav-item.active{
  font-weight: 900;
}

.search{
  padding-right: 30px;
}

.inp-search{
  min-width: 150px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.form-search {
  padding: 2px;
  margin-right: 14px;
  border: 1px solid #0061A1;
  border-radius: 0;
  max-width: 200px;
}

/* carousel */ 

.carousel-item{
  height: 620px;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

.carousel-control-prev-icon {
  background-image: url("../img/arrow_l.svg");
  width: 50px;
  height: 50px;
}

.carousel-control-next-icon {
  background-image: url("../img/arrow_p.svg");
  width: 50px;
  height: 50px;
}

.carousel-caption {
  font-family: "Lalezar", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 10%;
  left: 10%;
  top: 50px;
  width: 650px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 230px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption h5 {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.carousel-caption p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.owl-carousel{
  padding-bottom: 40px;
}

.carousel-img{
  filter: grayscale(1);
  opacity: 0.4 !important;
}

.carousel-img:hover{
  filter: grayscale(0);
  opacity: 1 !important;
}

/* footer */ 

#footer{
  background-color: #0061A1;
  color: #fff;
  min-height: 250px;
  position: relative;
}

.footer-brand{
 text-align: center;
 margin-top: 20px;
}

.footer-menu{
 margin: 20px 0px;
}

.footer-menu li{
  margin: 10px 0px;
}

.navbar-footer-a{
  color: white;
  padding: 0px 10px;
}

.footer-social a{
  color: white;
}

.footer-social a:hover{
  color: #00ADDC;
}

.footer-social{
  padding: 5px 30px;
}

.f-created{
  margin-top:10px;
}

.svg-footer {
  filter: brightness(0) invert(1);
}

.hover{
  --svg-color: brightness(1) invert(0);
}

@media only screen and (max-width:1400px) {
  .navbar
  {
    margin-left: 10px;
    padding: 0px;
  }

  .navbar-nav
  {  
    font-size: 1rem;
  }
  
  .navbar-nav li
  {
    margin-top: 5px;
    min-width: 40px;
    padding-right: 0px;
  }
  
  #menu-top .navbar-nav li:first-child 
  {
    min-width: 35px;
    margin-top: 3px;
  }

  .nav-link{
    padding: 5px;
  }

  .icon.home{
      width:20px;
      height:20px;
  }

  .icon.icon-soc-min{
    width:25px;
    height:25px;
  }

  .search{
    padding-right: 10px;
  }

  .inp-search{
    max-width: 100px;
  }
  
  #head-left
  {
    line-height: 1.1rem;
    margin-bottom: 0px;
  }

  #sentence {
    padding: 5px;
    margin: 4px;
  }

  #sentence p{
    font-size: 0.75em;
    width: 140px;
  }

  .logo{
    width: 80px;
    height: 80px;
  }

  #about h2{
    font-size: 4rem;
    line-height: 4rem;
  }

  #about h3{
    font-size: 2rem;
  }

  #about h4{
    font-size: 1.5rem;
  }
  
  #about-description p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
  }
  
  #details-description ul{
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .dice-big-inv{
    width: 40px;
    height: 40px; 
    margin: 10px 10px;
  }

  /* carousel */ 

  .carousel-item{
    height: 550px;
  }

  .carousel-control-prev-icon{
    width: 40px;
    height: 40px;
  }
  
  .carousel-control-next-icon{
    width: 40px;
    height: 40px;
  }

}

  @media only screen and (max-width:991px){

    .logo{
      width: 70px;
      height: 70px;
    }

    #sentence {
      padding:6px;
      margin: 5px;
    }

    #sentence p{
      line-height: 1.1rem;
      font-size: 0.75em;
      margin: 0px;
    }
    
    .icon.icon-soc{
      width:30px;
      height:30px;
    }

    input[type="search"]{
      border-color: white;
    }
  
    .button-main {
      display: inline-block;
      padding: 8px;
      font-size: 0.9rem;
      line-height: 1rem;
    }

    .form-search {
      border: 1px solid white;
    }
    
    .contact{
      font-size: 0.9rem;
    }

    #head-right
    {
      padding: 0;
      margin:0;
      width: 100%;
    }

    #head-left
    {
      margin-bottom: 0px;
    }

    .navbar{
      padding: 0;
      margin:0;
    }

    .navbar-span
    {  
    background-color: #00ADDC;
    z-index: 999;
    position: relative;
    max-width: 265px;
    top: 12px;
    padding: 10px 20px;
    }

    .navbar-nav{
      height: 100%;
    }

    .nav-item{
      margin: 10px 10px;
    }

    .navbar-nav .nav-item .nav-link 
     {
      color: white;
     }

    .navbar-nav .nav-item .nav-link:hover 
      {
        color: #0061A1;
      }

    .search{
      padding: 6px 6px 12px 8px;
    }

    .svg {
      filter: brightness(0) invert(1);
    }

    .hover{
      --svg-color: brightness(1) invert(0);
    }

    .svg-inv:hover {
      filter:  var(--svg-color); 
    }
    
    .hover-inv{
      --svg-color: invert(0.5) brightness(0.5) sepia(1) hue-rotate(230deg) saturate(6);
    }
    
    button[type="submit"] {
      filter: brightness(0) invert(1);
    }

    input[type="search"] {
      color: white;
    }

    input[type="search"]:focus {
      color: white;
    }

    input[type="search"]::placeholder {
      color: white;
      opacity: 0.5;
    }

    #details-description ul{
      font-size: 1rem;
      line-height: 1.2rem;
    }

    h1 {
      font-size: 1.8rem;
    }

    #main-photo img{
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

      /* carousel */ 

    .carousel-item{
        height: 360px;
    }

    .carousel-control-prev-icon{
      width: 30px;
      height: 30px;
    }
    
    .carousel-control-next-icon{
      width: 30px;
      height: 30px;
    }

    .carousel-caption {
      top: 30px;
      width: 450px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 180px;
    }

    .carousel-caption h5 {
      font-size: 2rem;
    }
    
    .carousel-caption p {
      font-size: 1rem;
    }

    .header-main.header-blue h2::before
    {
      top: 8px;
      transform: scale(.8);
    }
  
    .header-main.header-purple h2::before
    {
      top: 8px;
      transform: scale(.8);
    }

    .tags-main{
      margin: 10px 20px;
    }
  
    .tag{
      font-size: 1.1rem;
    }
}

@media only screen and (max-width:576px){
  .icon.icon-soc-min{
    width:20px;
    height:20px;
  }

  .button-main {
    padding: 10px;
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .header-main.header-background
  {
    height: 80px;
  }

    /* carousel */ 

    .carousel-item{
      height: 260px;
      bottom: 0;
    }

    .carousel-caption {
      top: auto;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 0px;
      height: 85px;
      bottom: 0px;
      right: auto;
      left: auto;
   }

    .carousel-caption h5 {
      font-size: 1rem;
      margin-bottom: 1px;
    }
    
    .carousel-caption p {
      font-size: 0.75rem;
      margin-bottom: 1px;
    }

    #about h2{
      font-size: 2.5rem;
      line-height: 2rem;
    }
  
    #about h3{
      font-size: 1.5rem;
    }

    #about h4{
      font-size: 1.3rem;
    }
    
    #about-description p{
      font-size: 1rem;
      line-height: 1.2rem;
    }
     
    #about-description-more p{
      line-height: 1.5rem;
      font-size: 1rem;
    }

    .dice-big-inv{
      width: 30px;
      height: 30px; 
      margin: 0px 15px;
    }

    .button-main.inv.big {
      font-size: 1rem;
      line-height: 1.1rem;
      padding: 10px;
    }

    .header-main
    {
      padding: 5px 5px;
    }
  
    .header-main.header-blue h2::before
    {
      top: 8px;
      margin-right: 5px;
      transform: scale(.7);
    }
  
    .header-main.header-purple h2::before
    {
      top: 8px;
      margin-right: 5px;
      transform: scale(.7);
    }

    .tags-main{
      margin: 6px 10px;
    }

    .tag{
      font-size: .95rem;
      padding: 7px 7px;
      margin: 7px 7px;
    }

    .f-created{
      font-size: 0.8rem;
    }

    #about-description-more p{
      font-size: 1rem;
      line-height: 2rem;
      padding: 5px 20px;
    }
    
    #about-description-more blockquote{
      font-size: 1.05rem;
      line-height: 2rem;
      padding: 5px 30px;
    }
  
    #about-description-more ul{
      font-size: 1rem;
      line-height: 2.2rem;
      padding: 0px 40px;
    }

    #about-description-more h2, #about-description-more h3, #about-description-more h4, #about-description-more h5{
      text-align: left;
      padding: 10px 20px;
    }
}